language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "pypy"
sudo: false
install: pip install -r requirements.txt
script:
  - py.test -v --cov flake8diff --cov-report term-missing
after_success:
  - coveralls
